@use '../../styles/variables' as *;

.heroGradient {
  background-image: $hero-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.heroGradientActive {
  background-image: $hero-gradient-active;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}